.video{
    margin-top: 25px;
    height: 255px;
    width: 100%;
    display: flex;
    margin-left: 20px;
}

#containervideo{
    padding: 10px;
    width: 100%;
    height: 300px;
    background-color: #f9f9f9;
    margin-top: 20px;
}
.name{
    font-size: 20px;
    width: 650px;
    margin-left: 17px;
    margin-top: -1px;
}
.des{
    height: 10px;
    margin-top: 150px;
    margin-left: -620px;
    font-size: 15px;
    color: gray;
}

/* *********************** */


body{
    font-family: 'roboto' , sans-serif;
 }

 #navbar{
    display: flex;
    align-items: center;
    background: #fff;
 }

 .togglebtn{
     width: 30px;
     height: 12px;
     position: relative;
     cursor: pointer;
     left: 15px;
     top: -27px;
 }
 .togglebtn span{
     position: absolute;
     width: 20px;
     height: 1px;
     top: 50%;
     transform: translateY(--50);
     background: black;
 }
 .togglebtn span:nth-child(1){
     top: 0;
 }
 .togglebtn span:nth-child(3){
   top: 100%;
}

.logo{
  margin-top: -50px;
   height: 140px;
   margin-left: 8px;
   cursor: pointer;
}

input[type="text"]{
    height: 34px;
   width: 500px;
   font-size:17px;
   border:1px solid #b4adad;
   font-family: "Nunito",sans-serif;
   
   margin-left: 200px;
   margin-top: -800px;
} 

.inputtt{
   display: flex;
   margin-top: -30px;
}

button{
   height: 38px;
   width: 64px;
   font-size:16px;
   border:1px solid #b4adad;
   font-family: "Nunito",sans-serif;
   border-left: none;
   background-color:#f8f8f8 ;
   border-left: none;
   margin-top: -10px;
}
hr{
   margin-top: -10px;
}
.down{
   margin-top: 13px;
}

#generes{
   display: flex;
   justify-content: space-evenly;
   margin-top: 10px;
   margin-left: 80px;
}
#generes>div{
   border: 1px solid #dbd4d4 ;
   padding: 5px 20px ;
   border-radius: 13px;
   background-color: #f2f2f2;
}
#generes>div:nth-child(1){
   background-color: black;
   color: white;
}

.fa-solid {
    position: absolute;
    margin-left: -40px;
    margin-top: -2px;
    font-size: 20px;
   color: grey;
    cursor: pointer;
}
#micro > .fa-solid{
    border-radius: 50%;
    width: 20px;
    margin-left: 10px;
    margin-top: -41px;
    color: black;
    font-size: 18px;
    border: none;
    padding: 11px;
    background-color:#f9f9f9;
    cursor: pointer;
}
#video > .fa-solid{
    font-size: 20px;
     margin-left: 175px;
     margin-top: -32px;
     color: rgba(0, 0, 0, 0.76);
}
#boxes > .fa-solid{
    font-size: 20px;
     margin-left: 226px;
     margin-top: -32px;
     color: rgba(0, 0, 0, 0.733);
}
#bell > .fa-solid{
    font-size: 20px;
     margin-left: 276px;
     margin-top: -32px;
     color: rgba(0, 0, 0, 0.733);
}

#prem{
    width: 50px;
    height: 50px;
}
#premimg{
    width: 50px;
    height: 45px;
    border-radius: 50%;
    margin-left: 325px;
    margin-top: -20px;
    cursor: pointer;
}